*.o
*.lo
*.la
.deps/
.libs/
Makefile
Makefile.in
GPATH
GRTAGS
GTAGS
aclocal.m4
config.h
config.log
config.status
configure
src/gtk/dir_defs.h
src/gtk/ngraphui.resources.c
 src/gtk/ngraph.resources.c
 src/gtk/data/gtk/menus-appmenu.ui
src/gtk/data/gtk/menus-common.ui
src/ngraph
src/terminal
addin/fft
addin/fitrslt
addin/gimg2gra
addin/legend
doc/html/ja/intro.html
doc/html/ja/object.html
doc/html/ja/script.html
driver/ngp2
demo/demo.ngp
demo/demo1.ngp
demo/demo2.ngp
demo/demo3.ngp
demo/demo4.ngp
demo/demo6.ngp
initfile/Ngraph.ini
plugins/ruby/Makefile.ruby
plugins/ruby/mkmf.log
plugins/ruby/ngraph.so
plugins/ruby/obj.txt
plugins/ruby/ruby_ngraph.h
po/POTFILES
po/ja.gmo
