*.o
*.lo
*.la
*.exe
*~
.DS_Store
.deps/
.libs/
Makefile
Makefile.in
GPATH
GRTAGS
GTAGS
aclocal.m4
config.h
config.log
config.status
configure
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/ltmain.sh

src/gtk/dir_defs.h
src/gtk/ngraphui.resources.c
src/gtk/ngraph.resources.c
src/gtk/completion_info_data.c

src/gtk/data/gtk/menus-appmenu.ui
src/gtk/data/gtk/menus-common.ui
src/gtk/data/gtk/menus-appmenu.uisrc/ngraph

src/math/math_constant.c
src/math/math_constant.h
src/math/math_function.c
src/math/math_function.h
src/math/math_operator.c
src/math/math_operator.h

src/terminal
src/ngraph
src/libngraph_resource.rc
src/ngraph_resource.rc
src/ngraph.def

gtksourceview/ngraph_math.lang

addin/fft
addin/fitrslt
addin/gimg2gra
addin/legend

doc/html/ja/intro.html
doc/html/ja/object.html
doc/html/ja/script.html

driver/ngp2

demo/demo.ngp
demo/demo[1-4689].ngp

initfile/Ngraph.ini

plugins/ngraph_resource.rc
plugins/ruby/Makefile.ruby
plugins/ruby/mkmf.log
plugins/ruby/ngraph.so
plugins/ruby/ngraph.bundle
plugins/ruby/obj.txt
plugins/ruby/ruby_ngraph.h

po/POTFILES
po/ja.gmo

osx/ngraph.icns
