[Desktop Entry]
Name=Ngaph
Comment=create scientific 2-dimensinal graphs
Comment[ja]=科学技術用 2D グラフ作成
TryExec=ngraph
Exec=ngraph
Icon=application-x-ngraph.xpm
Terminal=false
Type=Application
Version=1.0
Categories=GTK;GNOME;Graphics;
Encoding=UTF-8
MimeType=application/x-ngraph;application/x-ngraph-graphic
