101 ICON "ngraph.ico"
1 VERSIONINFO
FILEVERSION     6,6,10,0
PRODUCTVERSION  6,6,10,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", ""
      VALUE "FileDescription", "Ngraph-gtk"
      VALUE "FileVersion", "6,6,10,0"
      VALUE "InternalName", "ngraph"
      VALUE "LegalCopyright", "Copyright (C) 2003 Satoshi ISHIZAKA"
      VALUE "OriginalFilename", "ngraph.exe"
      VALUE "ProductName", "Ngraph-gtk"
      VALUE "ProductVersion", "6,6,10,0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
