textview#line_number > text {
    border-right: 1px solid @fg_color;
}
textview#line_number {
    padding-right: 1px;
}

@binding-set CloseWindow1
{
    bind "<Control>w" { "close" () };
}

dialog
{
    -gtk-key-bindings: CloseWindow1;
}

@keyframes flush-bg {
    0% { background-color: dimgray; }
    100% { background-color: lightgray; }
}

toolbutton.draw_notify > button {
    animation: flush-bg infinite alternate ease-in-out 1.5s;
}
