@binding-set CloseWindow1
{
    bind "<Control>w" { "close" () };
}

dialog
{
    -gtk-key-bindings: CloseWindow1;
}

button.toolbutton {
    -gtk-icon-size: 1.6em;
}

menubutton.toolbutton {
    -gtk-icon-size: 1.6em;
}

button.menutoolbutton {
    -gtk-icon-size: 1.6em;
    border-right-width: 0;
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
}

menubutton.menutoolbutton {
    border-top-left-radius:     0;
    border-bottom-left-radius:  0;
}

button#StrokeColorButton > colorswatch > overlay {
    background-color: @theme_bg_color;
    margin: 3px;
    border-color: rgba(0,0,0,0);
}

combobox#MarkerType > box > button > box > arrow {
    opacity: 0;
    min-width: 0;
}
