@binding-set CloseWindow1
{
    bind "<Control>w" { "close" () };
}

dialog
{
    -gtk-key-bindings: CloseWindow1;
}

button#StrokeColorButton > colorswatch > overlay {
    background-color: @theme_bg_color;
    margin: 3px;
    border-color: rgba(0,0,0,0);
}

combobox#MarkerType > box > button > box > arrow {
    opacity: 0;
    min-width: 0;
}
