body {
    margin: 1em;
    font: 1em sans-serif;
}

h1 {
    margin-top: 0.5em;
    padding-left: 40px;
    padding-bottom: 0em;
    margin-bottom: 0em;
    letter-spacing: -0.02em;
}

.toc {
   position: fixed;
    padding: 1em;
    border-style: solid;
    line-height: 1.5em;
    width: 20em;
}

.toc h1 {
    margin-top: 0em;
    padding-left: 0px;
    padding-bottom: 0em;
    margin-bottom: 0em;
    font-size: 1.6em;
}

.toc ul {
    padding-left: 10px;
}

.toc li {
    padding-left: 5px;
    text-indent: -5px;
}

.toc a {
    text-decoration: none;
}

.toc a:hover {
    text-decoration: underline;
}

h2, h3 {
    padding-bottom: 0em;
    margin-bottom: 0.2em;
}

h2 {
    margin-top: 0.5em;
    padding-top: 1em;
    font-size: 1.6em;
    border-top: 4px solid;
}

h3 {
    font-size: 1.3em;
    margin-top: 1em;
}

.chapter {
    margin-left: 24em;
}

table {
    border-radius: 10px;
    border: 0;
    margin: 0;
    padding: 4px;
    border-collapse:collapse;
}
